* {
  transition: 0.5s; /* Sets the general transition time to 0.5 sec */
}
body {
  margin: 0%;
  background-color: rgb(39, 38, 38);
  height: 200vw;
  overflow-x: hidden;
}

nav {
  /* Dynamic navbar following you all the time */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(39, 38, 38);
  z-index: 1;
  color: aliceblue;
  display: flex;
  align-items: center;
}
#title {
  text-align: center;
  width: 100%;
  position: absolute;
  font-weight: bold;
}
.background {
  width: 90%;
  margin: 0 auto;
  margin-top: 0%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      /* gives the background a dark fade to blend in */ rgba(2, 10, 2, 0.3)
        100%
    ),
    url(IMG_2135.JPG);
  background-attachment: fixed; /* fixed position gives the "paralax" effect to the picture */
  background-position: center;
  background-size: 100% 100%;
  transform-origin: center;
  height: 60vw;
  box-shadow: inset 0 0 200px rgba(1, 1, 1, 1);
}

nav > #icons {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2em;
  padding: 0.5em;
  padding-bottom: 30px;
  flex-direction: row;
  padding-top: 4em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

header > ul {
  border-bottom: solid white 1px;
}

/* Removes the text underline and sets color to white, so that it can appear when hovering later */
#background,
a {
  text-decoration: none;
  color: white;
  position: relative; /* Sets relative positioning for pseudo-element */
}

#background,
a::after {
  content: ""; /* Empty content for pseudo-element */
  display: block; /* Blocks element for sizing and positioning */
  position: absolute; /* Absolute positioning relative to the realative a */
  bottom: -3px; /* adjust where the underline will be displayed */
  width: 0; /* Initially invisible, expands on hover for underline effect */
  height: 2px; /* Set the height for the underline */
  background-color: white;
  transition: width 0.3s ease; /* Smooth transition for the underline width */
}

/* Expand the underline to 100% width on hover */
#background,
a:hover::after {
  width: 100%;
}

/* Logo css */
#MM {
  height: 2.4vw;
  position: absolute;
  left: 40px;
  transition: transform 3s;
}
#MM:hover {
  transform: rotate(360deg);
}
/* Social media icons css */
#snap {
  height: 2.2vw;
}
#snap:hover {
  transform: scale(1.1);
}

/* Changes logo when hovering, indicating that it can be "clicked" for universal adaption.  */
#snap:hover {
  content: url("snapyellow.png");
}

#insta {
  height: 2.2vw;
}
#insta:hover {
  transform: scale(1.1);
}

#insta:hover {
  content: url("instalogo.avif");
}
#tiktok {
  height: 2.2vw;
}
#tiktok:hover {
  transform: scale(1.1);
}

#tiktok:hover {
  content: url("tiktoklogo.png");
}

#intro {
  color: white;
  font-size: 3em;
  position: absolute;
  left: 2.5em;
  top: 10em;
  transition: color 0.3s ease;
}

#intro:hover {
  color: aqua;
}

#projects {
  height: 40vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1108ba;
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: 0.5s ease;
  margin: 0 auto;
}
.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6e11bf;
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: 0.5s ease;
  margin: 0 auto;
}
.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c20d0d;
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: 0.5s ease;
  margin: 0 auto;
}

.container:hover .overlay {
  height: 100%;
  opacity: 0.9;
}

.container:hover .overlay2 {
  height: 100%;
  opacity: 0.9;
}
.container:hover .overlay3 {
  height: 100%;
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 241, 241);
  border-radius: 10px;
}

@keyframes rainbowSlide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.rainbow-slide-text {
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-size: 800% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: rainbowSlide 4s linear infinite;
  font-size: 3em;
  text-align: center;
  width: 100%;
  margin-top: 2em;
}
#projectsBigCont {
  background-color: white;
}
#border {
  border: solid blue;
}
#border2 {
  border: solid purple;
}
#border3 {
  border: solid red;
}

#Hobbies {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(2, 10, 2, 0.3) 100%
    ),
    url(football.jpeg);
  background-size: cover;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #415a77;
  height: 120vh;
  gap: 10em;
  text-align: center;
  position: relative;
}

#football {
  height: 75vh;
  width: 40vw;
  transform: rotate(4deg);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

#training {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 75vh;
  width: 40vw;
  transform: rotate(4deg);
  text-align: center;
}

#h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-top: 1.5em;
  text-align: center;
}

#hobbyimg {
  background-position: center;
  height: 30vh;
  text-align: center;
  margin-top: 1em;
  width: 13vw;
  border-radius: 1em;
  border: solid white 2px;
}

#h {
  height: 20vh;
  color: white;
  position: absolute;
  top: 1em;
  font-size: 2em;
}

#infofresh,
#infofootball {
  color: white;
  margin: 1em;
  font-size: 1.2em;
}

#footer {
  color: antiquewhite;
  background-color: black;
  height: 30vh;
  width: 100%;
  position: absolute;
  padding: 1em;
  text-align: center;
}

.footer-text {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.footer-subtext {
  font-size: 1em;
  margin-bottom: 1.5em;
}

.powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.bold-text {
  font-weight: bold;
}

.emoji {
  margin-right: 0.5em;
}

.connect-text {
  font-size: 1em;
  margin: 0.5em 0;
}

.social-icons {
  font-size: 1.5em;
  margin-top: 1em;
}

.social-icon {
  text-decoration: none;
  margin-right: 1em;
  color: inherit;
}

.copyrighttext {
  font-size: 0.8em;
  margin-top: 1.5em;
}

@media (orientation: portrait) {
  .background {
    background: none;
    height: 70vh;
  }
  #intro {
    font-size: 1.9em;
  }
  #infofresh {
    font-size: 0.8em;
  }
  #infofootball {
    font-size: 0.8em;
  }
  #Hobbies {
    gap: 2em;
  }
  #snap,
  #tiktok,
  #insta {
    width: 4vw;
    height: 2.6vh;
  }
}
