* {
  transition: 2s;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(39, 38, 38);
  z-index: 1;
  color: aliceblue;
  display: flex;
  align-items: center;
}
#title {
  text-align: center;
  width: 100%;
  position: absolute;
}
nav > #icons {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}
#snap {
  height: 2.2vw;
}
#snap:hover {
  transform: scale(1.1);
}

#snap:nth-child(1):hover {
  content: url("snapyellow.png");
}

#insta {
  height: 2.2vw;
}
#insta:hover {
  transform: scale(1.1);
}

#insta:nth-child(2):hover {
  content: url("instalogo.avif");
}
#tiktok {
  height: 2.2vw;
}
#tiktok:hover {
  transform: scale(1.1);
}

#tiktok:nth-child(3):hover {
  content: url("tiktoklogo.png");
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(map.webp);
  margin: 0;
  background-size: cover;
}

#pokemon {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

#myPokemon,
#enemyPokemon {
  background-color: transparent;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(130, 119, 119, 0.2);
}

h1 {
  color: #e3350d;
  font-weight: bold;
  font-size: 3em;
}

button {
  background-color: #e3350d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

img:hover {
  transform: rotate(360deg);
}

#a {
  height: 18em;
  width: fit-content;
}

p {
  font-size: 2em;
}
#footer {
  color: #fff;

  text-align: center;
  background-color: black;
}

.footer-text {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.footer-subtext {
  font-size: 1em;
  margin-bottom: 1.5em;
}

.powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.bold-text {
  font-weight: bold;
}

.emoji {
  margin-right: 0.5em;
}

.connect-text {
  font-size: 1em;
  margin: 0.5em 0;
}

.social-icons {
  font-size: 1.5em;
  margin-top: 1em;
}

.social-icon {
  text-decoration: none;
  margin-right: 1em;
  color: inherit;
}

.copyrighttext {
  font-size: 0.8em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

#back {
  font-size: 1.5em;
  color: antiquewhite;
  position: absolute;
  top: 4em;
  left: 1.8em;
  border: 2px solid red;
  padding: 2px;
}
